
header {
	color: #6699ff;

	text-align: center;
	word-spacing: 10px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 70px;
}

h1 {
	font-family: 'Oregano';
	letter-spacing: 3px;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 50px;
	padding-right: 20px;
	font-weight: bold;
	text-align: left;
	margin-left: 70px;
	font-size: 25px;
	background: rgba(0, 0, 255, 0.3);
	margin-right: 990px;
	color: white;


}

html {
	background-image: url("pic.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

